## **Exploratory Data Analysis** ##

**Importing the libraries for EDA**

In [1]:
import pandas as pd
import os
import openpyxl
import matplotlib
import seaborn

In [2]:
# Loading our data
sales= pd.read_excel("sales_data.xlsx")
sales

,Sales Person,Geography,Product,Date,Amount,Boxes
0,Barr Faughny,New Zealand,Raspberry Choco,2021-01-01,8414,495
1,Dennison Crosswaite,Canada,White Choc,2021-01-01,532,54
2,Karlen McCaffrey,USA,99% Dark & Pure,2021-01-01,5376,269
3,Barr Faughny,New Zealand,Baker's Choco Chips,2021-01-01,259,22
4,Beverie Moffet,USA,Manuka Honey Choco,2021-01-01,5530,179
...,...,...,...,...,...,...
3786,Van Tuxwell,India,Drinking Coco,2022-01-19,10682,1526
3787,Rafaelita Blaksland,Australia,Mint Chip Choco,2022-01-18,11746,511
3788,Kelci Walkden,Australia,Spicy Special Slims,2022-01-03,8862,1477
3789,Gunar Cockshoot,New Zealand,Mint Chip Choco,2022-01-21,11592,527
3790,Mallorie Waber,USA,Spicy Special Slims,2022-01-07,3871,431