## Data Ingestion

In [1]:
# importing all necessary libraries
import numpy as np
import pandas as pd

In [2]:
# loading the dataset
sales = pd.read_csv("sales_data.xls")

In [3]:
# previewing the first 5 rows as the data
sales.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
0,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4,3201,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
1,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,5,3202,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,4,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
2,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,9,3203,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,5,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
3,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,12,3204,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,1,NGN,2024-03-30 04:19:10.406794,success,Saint Helena
4,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,6,3205,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,Saint Helena

In [4]:
# prieviewing the last 5 rows of the data
sales.tail()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
578315,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,1,34941,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161958,2024-03-30 04:03:18.224196,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578316,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,4,34940,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161959,2024-03-30 04:03:18.224198,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578317,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,1,34941,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161959,2024-03-30 04:03:18.224198,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578318,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,4,34940,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161960,2024-03-30 04:14:18.224200,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island
578319,ef15a7b3-326c-405f-9eef-3dbf43c85a9d,74bb4936-9890-421b-a62a-ee544191fa1e,1,34941,ad73a2a0-354a-40bf-81cd-ff017ac859d5,161960,2024-03-30 04:14:18.224200,3,USD,2024-03-30 04:14:18.224200,failed,Christmas Island

## Preliminary Data Analysis

In [5]:
# checking the shape of the data
data_shape = sales.shape
print(f"The shape of the dataset is: {data_shape}")

The shape of the dataset is: (578320, 12)

In [6]:
# checking the size of the data
data_size = sales.size
print(f"The size of the dataset is: {data_size}")

The size of the dataset is: 6939840

In [7]:
# checking the structure of our data
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 578320 entries, 0 to 578319
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   customer_id      578320 non-null  object
 1   device_id        578320 non-null  object
 2   item_id          578320 non-null  int64
 3   line_item_id     578320 non-null  int64
 4   order_id         578320 non-null  object
 5   event_id         578320 non-null  int64
 6   event_timestamp  578320 non-null  object
 7   quantity         578320 non-null  int64
 8   currency         578320 non-null  object
 9   checked_out_at   578320 non-null  object
 10  status           578320 non-null  object
 11  location         578320 non-null  object
dtypes: int64(4), object(8)
memory usage: 52.9+ MB

In [8]:
# checking the datatype of the dataset
sales.dtypes

customer_id        object
device_id          object
item_id             int64
line_item_id        int64
order_id           object
event_id            int64
event_timestamp    object
quantity            int64
currency           object
checked_out_at     object
status             object
location           object
dtype: object

In [9]:
# checking for missing values
sales.isna().sum()

customer_id        0
device_id          0
item_id            0
line_item_id       0
order_id           0
event_id           0
event_timestamp    0
quantity           0
currency           0
checked_out_at     0
status             0
location           0
dtype: int64

In [10]:
# checkinng for duplicated values
duplicates = sales.duplicated().sum()
print(f"The total number of duplicated values in the dataset is: {duplicates}")

The total number of duplicated values in the dataset is: 0

## Data Cleaning

In [11]:
# checking the columns in the dataset
sales.columns

Index(['customer_id', 'device_id', 'item_id', 'line_item_id', 'order_id',
       'event_id', 'event_timestamp', 'quantity', 'currency', 'checked_out_at',
       'status', 'location'],
      dtype='object')

In [12]:
# setting the event_timestamp to date_time
sales["event_timestamp"] = pd.to_datetime(sales["event_timestamp"])

In [13]:
# checking the first 5 event_timestamp rows
sales["event_timestamp"].head()

0   2024-03-26 22:05:58.863661
1   2024-03-26 22:05:58.863661
2   2024-03-26 22:05:58.863661
3   2024-03-26 22:05:58.863661
4   2024-03-26 22:05:58.863661
Name: event_timestamp, dtype: datetime64[ns]

In [14]:
sales["event_timestamp"].dtypes

dtype('<M8[ns]')

In [15]:
# converting to date_time
sales["checked_out_at"]= pd.to_datetime(sales["checked_out_at"])

In [16]:
# previewing the first 5
sales["checked_out_at"].head()

0   2024-03-30 04:19:10.406794
1   2024-03-30 04:19:10.406794
2   2024-03-30 04:19:10.406794
3   2024-03-30 04:19:10.406794
4   2024-03-30 04:19:10.406794
Name: checked_out_at, dtype: datetime64[ns]

In [17]:

sales["checked_out_at"].dtype

dtype('<M8[ns]')

## Exploratory Data Analysis

In [18]:
# checking the columns in the dataset
sales.columns

Index(['customer_id', 'device_id', 'item_id', 'line_item_id', 'order_id',
       'event_id', 'event_timestamp', 'quantity', 'currency', 'checked_out_at',
       'status', 'location'],
      dtype='object')

In [19]:
#setting the index to location 
sales1 = pd.DataFrame(sales, columns = sales.columns, index = sales.set_index("location", inplace =True))

In [20]:
# sales.set_index("location", inplace=True, ascending =True)

In [21]:
sales1.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,4,3201,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,NaN
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,5,3202,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,4,NGN,2024-03-30 04:19:10.406794,success,NaN
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,9,3203,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,5,NGN,2024-03-30 04:19:10.406794,success,NaN
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,12,3204,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,1,NGN,2024-03-30 04:19:10.406794,success,NaN
Saint Helena,cda7bec0-7cbf-4145-baf9-e049bab94504,33b485de-7338-4997-b1d0-b988ba17b245,6,3205,9e950ce3-2e12-479c-a051-493c1a497d49,14786,2024-03-26 22:05:58.863661,2,NGN,2024-03-30 04:19:10.406794,success,NaN

In [22]:
# sorting the index
sales1.sort_index(ascending=True, inplace=True)

In [23]:
# displaying the first 5 rows
sales1.head()

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Afghanistan,70620f47-7786-4c75-a784-e1f584cf0af0,8a105f4c-73e3-49c0-bccb-33660f23ea4d,9,24077,c438565d-ac6a-4653-a602-4c66c92c41ec,111439,2024-03-30 04:03:15.520915,2,NGN,2024-03-30 04:14:15.520920,failed,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,2,11897,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,1,GBP,2024-03-30 04:17:12.580762,success,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,10,11898,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,1,GBP,2024-03-30 04:17:12.580762,success,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,4,11899,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,5,GBP,2024-03-30 04:17:12.580762,success,NaN
Afghanistan,0ae22f09-2711-4549-a75b-b57f2d447e09,bf34a453-2670-404c-ad22-0804fb3e478b,7,11900,1763d1a7-f047-4e96-84fe-9024453d110e,55146,2024-03-30 04:03:12.580749,3,GBP,2024-03-30 04:17:12.580762,success,NaN

In [24]:
# hecking the unique values in the location
location = sales1.index.unique()
location

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica (the territory South of 60 deg S)',
       'Antigua and Barbuda', 'Argentina',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='location', length=243)

In [25]:
no_of_locations = sales1.index.nunique()
no_of_locations

243

In [26]:
sales1.index.value_counts()

location
Korea        6997
Argentina    4507
Mauritius    4414
Jersey       4130
Panama       3936
             ...
Chad         1082
Malaysia     1037
Austria       921
Italy         783
Uruguay       734
Name: count, Length: 243, dtype: int64

In [27]:
# checking the top 25 countries with the highest sales
top_25 = sales1.index.value_counts().head(25)
top_25

location
Korea                          6997
Argentina                      4507
Mauritius                      4414
Jersey                         4130
Panama                         3936
French Guiana                  3851
Guernsey                       3804
Guatemala                      3731
Albania                        3721
Philippines                    3675
Mali                           3670
Congo                          3642
Finland                        3615
Cape Verde                     3509
Christmas Island               3471
China                          3429
France                         3425
French Southern Territories    3421
Poland                         3355
Cyprus                         3345
Switzerland                    3342
British Virgin Islands         3329
Bosnia and Herzegovina         3309
Niger                          3295
Sri Lanka                      3289
Name: count, dtype: int64

In [28]:
# checking the least 25 countries with the highest sales
least_25 = sales1.index.value_counts().tail(25)
least_25

location
Namibia                     1522
Sierra Leone                1493
Jamaica                     1447
Sao Tome and Principe       1421
Russian Federation          1404
Malawi                      1403
Djibouti                    1394
Botswana                    1390
Yemen                       1384
Montenegro                  1379
Kyrgyz Republic             1370
United Arab Emirates        1352
Turks and Caicos Islands    1229
Azerbaijan                  1225
Barbados                    1216
Greece                      1214
Saint Kitts and Nevis       1201
Honduras                    1195
Cocos (Keeling) Islands     1168
Taiwan                      1122
Chad                        1082
Malaysia                    1037
Austria                      921
Italy                        783
Uruguay                      734
Name: count, dtype: int64

In [29]:
# checking the unique currency
currency = sales1["currency"].unique()
currency

array(['NGN', 'GBP', 'USD'], dtype=object)

In [30]:
# checking the number of unique currency
no_of_currency = sales1["currency"].nunique()
no_of_currency

3

In [31]:
# checking the value count of each currency
currency = sales1["currency"].value_counts()
currency

currency
USD    198037
GBP    191403
NGN    188880
Name: count, dtype: int64

In [32]:
sales1.iloc[4000:]

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status,location
location,,,,,,,,,,,,
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,14,32626,18719662-201e-49d7-99da-ad53c19d511a,151438,2024-03-30 04:03:17.578723,2,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,10,32628,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,1,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,8,32630,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,3,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,9,32631,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,2,USD,2024-03-30 04:15:17.578737,success,NaN
Albania,08b02ad4-e8b6-4ba3-9251-649664f6e824,c23a30e9-d242-4c52-b240-24509d233fe8,2,32632,18719662-201e-49d7-99da-ad53c19d511a,151437,2024-03-30 04:03:17.578722,1,USD,2024-03-30 04:15:17.578737,success,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,10,29861,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138310,2024-03-22 13:20:41.144866,3,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,7,29860,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138310,2024-03-22 13:20:41.144866,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,1,29863,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138309,2024-03-28 01:59:47.070999,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,db698cb9-ca29-4508-b0f7-832b392306a4,e0c6329e-1e79-4560-8145-81c459670184,1,29863,0e7b92ef-8f50-4445-be28-5a28676d8e4e,138314,2024-03-30 04:03:16.911579,5,GBP,2024-03-30 04:12:16.911586,cancelled,NaN
Zimbabwe,3f32bd5a-83d1-4d0e-85ba-101602388481,3dda90af-6c74-494d-b240-fc4d8d31759a,3,15897,46a574f4-9044-4653-b2cc-7c1610f68494,74252,2024-03-30 04:03:13.568394,3,NGN,2024-03-30 04:18:13.568459,success,NaN

In [33]:
customer_id = sales1["customer_id"]

In [34]:
# Total nmunbers of customers
sales1["customer_id"].nunique()

4594

In [35]:
# checking the staus count
status = sales1["status"].value_counts()
status

status
failed       196383
success      192594
cancelled    189343
Name: count, dtype: int64

In [36]:
# checking the top 25 cutomers
top_25_customers = sales1["customer_id"].value_counts().head(25)
top_25_customers

customer_id
eb7dcb88-073d-403e-bdd4-1e5725fe2338    372
a7d9058a-163e-4632-9bde-1f57130130cb    360
12e94262-2eaa-47d9-85c9-6f55e434f5c8    360
be8ce4e3-c596-43c2-8b70-bdcecada2139    360
ebcb2343-be1b-421e-83eb-6f79a321d999    360
c391f179-9eb3-418d-9d7b-b261f2dc57a6    360
e4431b51-8db8-4b4a-a871-d12e3eaca47d    360
ebcea232-0615-44be-8f9e-338100c6b31c    360
9ff854ce-3c64-4519-8bc8-4f33713a1457    348
abc8403d-526f-443f-8403-cc1402500ac7    348
25ca6238-bc27-453a-b5e3-0a478f3f4e22    348
64a744f1-f229-4c75-b623-347558d684d9    348
82e02b41-5f63-429f-8e92-1787d86a0b66    348
5d4624cc-7372-4003-bd9d-9a53704650a1    348
23ea9949-0d0f-403f-a141-e8446ce341e2    348
2625fe82-4acd-4c33-a262-e437cd52e698    348
a68a4174-0109-4469-ab21-d49b48750829    348
e73af64f-4c71-417a-94cc-7e0f2379cd3e    348
d3cd2a61-03cf-4749-b693-5e5dc4f32b9c    348
12b8be6b-be79-4cc2-9666-04852788ab4a    348
a8fb3809-f25a-40cc-b0a8-860b40a285fd    336
94de20c3-2dc7-441e-a201-527e4cf55f14    336
f7f18e06-b6c9-4dd2-a4f4-fff22ca5b8a6    336
cb52ac2e-2af2-40a2-bfdc-b00ad17af9b8    336
c539401c-8d5d-4e07-b368-dbc0b3157a31    336
Name: count, dtype: int64

In [37]:
mask = (sales1['customer_id']== "c539401c-8d5d-4e07-b368-dbc0b3157a31")

In [38]:
sales1.loc[mask, "customer_id":"status"]

,customer_id,device_id,item_id,line_item_id,order_id,event_id,event_timestamp,quantity,currency,checked_out_at,status
location,,,,,,,,,,,
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,5,33725,9fa1dfb2-b890-493c-bdb3-73257b4de812,156660,2024-03-30 04:03:17.950385,1,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,4,33726,9fa1dfb2-b890-493c-bdb3-73257b4de812,156660,2024-03-30 04:03:17.950385,2,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,1,33727,9fa1dfb2-b890-493c-bdb3-73257b4de812,156660,2024-03-30 04:03:17.950385,3,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,6,33728,9fa1dfb2-b890-493c-bdb3-73257b4de812,156660,2024-03-30 04:03:17.950385,1,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,11,33729,9fa1dfb2-b890-493c-bdb3-73257b4de812,156660,2024-03-30 04:03:17.950385,3,USD,2024-03-30 04:10:17.950468,cancelled
...,...,...,...,...,...,...,...,...,...,...,...
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,8,33732,9fa1dfb2-b890-493c-bdb3-73257b4de812,156676,2024-03-30 04:03:17.950459,4,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,3,33733,9fa1dfb2-b890-493c-bdb3-73257b4de812,156676,2024-03-30 04:03:17.950459,3,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,2,33722,9fa1dfb2-b890-493c-bdb3-73257b4de812,156677,2024-03-30 04:03:17.950460,2,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,10,33723,9fa1dfb2-b890-493c-bdb3-73257b4de812,156677,2024-03-30 04:03:17.950460,2,USD,2024-03-30 04:10:17.950468,cancelled
Mali,c539401c-8d5d-4e07-b368-dbc0b3157a31,e23ec070-6c71-4f6a-a4e6-c4e2cda34435,1,33727,9fa1dfb2-b890-493c-bdb3-73257b4de812,156676,2024-03-30 04:03:17.950459,3,USD,2024-03-30 04:10:17.950468,cancelled

In [39]:
mask2 = ((sales1['customer_id']== "eb7dcb88-073d-403e-bdd4-1e5725fe2338") & (sales1["status"] != "success"))

In [40]:
this_customer = sales1.loc[mask]

In [41]:
this_customer["status"].unique()

array(['cancelled'], dtype=object)

In [42]:
this_customer["currency"].value_counts()

currency
USD    336
Name: count, dtype: int64

In [43]:
this_customer["status"].value_counts()

status
cancelled    336
Name: count, dtype: int64

In [44]:
mask_ngn = sales['currency']== "NGN"
mask_usd = sales['currency']== "NGN"
mask_ngn = sales['currency']== "USD"
mask_gbp = sales['currency']== "GBP"

In [45]:
# customers_ngn = sales1.loc[mask_ngn]
# customers_ngn

In [46]:
# customers_ngn = sales1.loc[mask_ngn]
# customers_usd = sales1.loc[mask_usd]
# customers_gbp = sales1.loc[mask_gbp]