### A. Creating Series and DataFrames

In [ ]:
# step 1: import panda package
import pandas as pd

# step 2 : Define a list
data = [1, 2, 3, 4, 5, 6, 7 ,8, 9, 10]

# step 3: create the series
series = pd.Series(data)

# view the created series
series.head(10)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
# confirming we created a pandas series
type(series)

pandas.core.series.Series

In [ ]:
# creating a series using the same list, but  adding custom serial numbers
series2 = pd.Series(data, index= ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"])
series2.head()

f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
# creating a series using python dictionary 
data2 = {"a": 10, "b": 20, "c": 30}

# creating the series
series3= pd.Series(data2)
series.head()

Name    Age
b        20
c        30
dtype: object


**Hands on practice**:
1. Create a bucket list of 6 items. Convert the list to pandas series and define index for it using alphabets.
2. Create a simple python dictionary of your biodata with 5 keys and their corresponding values. Convert the dictionary into a pandas series.

Question 1

In [24]:
# bucket list of 6 items
item_list =["shoe", "bag", "stone", "fish", "cheese", "cherry"]

# converting the bucket list to panda series and defining alphabets as the index
items_series = pd.Series(item_list, index= ["a", "b", "c", "d", "e", "f"])

items_series.head(6)

a      shoe
b       bag
c     stone
d      fish
e    cheese
f    cherry
dtype: object

Question 2

In [27]:
# creating the python dictionary of  biodta with 5keys
bio_data= {"Name": "Dominion James", "Track":"AI Engineering", "Age": 90, "Gender":"Female", "School": "Aptech"}

# converting the biodata dictionary to panda series
bio_data_series = pd.Series(bio_data)


bio_data_series.head()

Name      Dominion James
Track     AI Engineering
Age                   90
Gender            Female
School            Aptech
dtype: object

**Creating a DataFrame**

In [32]:
# creating a data frame

# step1: import pandas

import pandas as pd

# define the data using dictionary that is having values as a list

data = {
    "Name": ["Chris", "Ayo", "Chisom"],
    "Age": [26, 24, 22],
    "Home_Town": ["Benin", "Ibadan", "Enugu"]
}

# creating the dataframe using "df" as short for dataframe
df= pd.DataFrame(data, index=[1, 2, 3])
df.head()

     Name  Age Home_Town
1   Chris   26     Benin
2     Ayo   24    Ibadan
3  Chisom   22     Enugu

In [ ]:
# using list of dictionaries
data2 =[
    {"Name": "Chris", "Age": 26, "Home Town": "Benin"},
    {"Name": "Ayo", "Age": 24, "Home Town": "Ibadan"},
    {"Name": "Chisom", "Age": 22, "Home Town": "Enugu"}
]
df2 = pd.DataFrame(data2, index=[1, 2, 3])
df2.head()

     Name  Age Home Town
1   Chris   26     Benin
2     Ayo   24     Ibaan
3  Chisom   22     Enugu

In [39]:
# using list of list
data3 =[
       ["Chris", 26, "Benin"],
       ["Ayo", 24, "Ibadan"],
       ["Chisom", 22, "Enugu"]
]

df3 = pd.DataFrame(data3, columns=["Name", "Age", "Home Town"], index=[1, 2, 3])
df3.head()

     Name  Age Home Town
1   Chris   26     Benin
2     Ayo   24    Ibadan
3  Chisom   22     Enugu

In [38]:
# printing the types to be sure we have defined dataframes
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**Data Input and Output**

In [ ]:
import pandas as pd
import csv

# To read in dataset (csv) we use
df = pd.read_csv("bio_data.csv")

**Data Inspection and Exploration**

In [14]:
# To view the first 5 rows
df.head()

# To view the last 5 rows
df.tail()

# To check the information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  34 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

In [ ]:
# To show the statistical summary
df.describe()

# To check the dimension of the dataset
df.shape

# To check the column names
df.columns

# This calls all the data in the dataset
df

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City',
       'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'],
      dtype='object')