## **CLASS TASK 9**
# **Hypothesis Testing**

In [ ]:
# installing gdown to download data from google drive
%pip install gdown

Requirement already satisfied: gdown in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (5.2.0)
Requirement already satisfied: beautifulsoup4 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from gdown) (4.14.0)
Requirement already satisfied: filelock in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from gdown) (3.19.1)
Requirement already satisfied: requests[socks] in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from gdown) (2.32.5)
Requirement already satisfied: tqdm in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from gdown) (4.67.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from beautifulsoup4->gdown) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from beautifulsoup4->gdown) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from requests[socks]->gdown) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from requests[socks]->gdown) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from requests[socks]->gdown) (2025.8.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\ncc\desktop\ai_fellowship_module_two\ai-fellowship-module-2\my_venv\lib\site-packages (from tqdm->gdown) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# downloading dataset from google drive
import gdown
file_id = '1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO'  
gdown.download(f'https://drive.google.com/uc?id={file_id}', 'data.csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yB5qSBOLl96Y563nIewKOU8RN_gsY3dO
To: c:\Users\ncc\Desktop\ai_fellowship_module_two\AI-fellowship-module-2\Tasks\class_task\class_task_9\data.csv
100%|██████████| 52.0k/52.0k [00:00<00:00, 573kB/s]

'data.csv'

In [ ]:
# importing necessary libraries
import pandas as pd
import numpy as np

In [3]:
# Read the downloaded CSV file
df = pd.read_csv('data.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [ ]:
# dropping unnamed column
df.drop('Unnamed: 0', axis = 1, inplace = True)

## Test of Hypothesis

In [5]:
from scipy import stats

In [6]:
df

         country food_category  consumption  co2_emission
0      Argentina          pork        10.51         37.20
1      Argentina       poultry        38.66         41.53
2      Argentina          beef        55.48       1712.00
3      Argentina     lamb_goat         1.56         54.63
4      Argentina          fish         4.36          6.96
...          ...           ...          ...           ...
1425  Bangladesh         dairy        21.91         31.21
1426  Bangladesh         wheat        17.47          3.33
1427  Bangladesh          rice       171.73        219.76
1428  Bangladesh      soybeans         0.61          0.27
1429  Bangladesh          nuts         0.72          1.27

[1430 rows x 4 columns]

### **Two-Sample t-Test**


**Question**: Is the beef consumption in Argentina significantly different from that in Bangladesh?

- H₀: Mean beef consumption (Argentina) = Mean beef consumption (Bangladesh)

- H₁: Mean beef consumption (Argentina) ≠ Mean beef consumption (Bangladesh)

In [13]:
# Select Argentina beef consumption
arg_beef = df[(df["country"]=="Argentina") & (df["food_category"]=="beef")]
arg_beef

     country food_category  consumption  co2_emission
2  Argentina          beef        55.48        1712.0

In [14]:
# Select Bangladesh beef consumption
bang_beef = df[(df["country"]=="Bangladesh") & (df["food_category"]=="beef")]
bang_beef

         country food_category  consumption  co2_emission
1421  Bangladesh          beef         1.28          39.5

In [15]:
# Checking the beef consumption in Argentina
arg_consump = arg_beef["consumption"]
arg_consump

2    55.48
Name: consumption, dtype: float64

In [17]:
# Checking the beef consumption in Bangladesh
bang_consump = bang_beef["consumption"]
bang_consump

1421    1.28
Name: consumption, dtype: float64

In [21]:
# Calculating the Mean Vaue for the beef consumed in Argentina
arg_beef_mean = arg_consump.mean()
print("The average of the beef consumed in Argentina is",arg_beef_mean)

The average of the beef consumed in Argentina is 55.48

In [22]:
# Calculating the Mean Vaue for the beef consumed in Argentina
bang_beef_mean = bang_consump.mean()
print("The average of the beef consumed in Bangladesh is", bang_beef_mean)

The average of the beef consumed in Bangladesh is 1.28

In [23]:
# Using random normal to generate random numbers for Argentina
arg_beef_random = np.random.normal(loc=arg_beef_mean, scale=5, size=30)
arg_beef_random

array([59.93499807, 57.22607815, 49.27689065, 61.96726184, 57.43407413,
       59.30196218, 56.75331328, 57.79873096, 60.11960789, 56.78560695,
       57.66377282, 48.96806613, 56.2237535 , 54.30869152, 46.94959433,
       50.35854636, 51.98690642, 57.28134757, 63.87532821, 57.41102661,
       59.62253997, 48.64624951, 57.99073652, 51.69327085, 55.55900865,
       47.14982908, 57.20279393, 57.37819111, 69.01441881, 51.43585434])

In [ ]:
# Using random normal to generate random numbers for Bangladesh
bang_beef_random = np.random.normal(loc=bang_beef_mean, scale=5, size=30)
bang_beef_random

array([ 8.12924061, -8.1438565 , -2.05181654, -0.86862203,  7.9539101 ,
        2.81956629,  0.20610757, -1.78603243,  3.1273773 ,  0.50440935,
        5.74604926,  8.85613905, -0.45913439,  4.03039738,  1.85139971,
        2.11066789, 10.22551098, -4.34133743, -0.66127911,  3.46797324,
       10.81702461,  1.19710472, -1.72094006, -0.03303043, -4.67426875,
       -2.69160717,  4.27583211,  0.1927502 , 12.98207925,  4.6602759 ])

In [26]:
# Using Two-test sample to calaulate t-stats and p-val for Argentina and Bangladesh
t_stat, p_val = stats.ttest_ind(arg_beef_random, bang_beef_random)

# Print T-statistics
print("T-Statistics",t_stat)

# Print P-Value
print("P-Value:", p_val)

T-Statistics 41.56948502048198
P-Value: 7.243929901459338e-45

# Interpretation of Hypothesis

```
If P < 0.05, reject Ho. 

If P < 0.05, fail to reject Ho

Result: 

The P Value is less than 0.05, hence, reject Ho (The beef consumption in Bangladesh is different from the beef consumption in Argentina). 

The mean beef consumption in Argentina is not equal to the mean beef consumption in Bangladesh.

```