### **Task 18**

Perform statistical analysis using this dataset.

- https://www.kaggle.com/datasets/abrambeyer/openintro-possum

- Document in detail, the interpretation of your results from all the measures of centre, all measures of spread,  and outlier detection mechanisms.

- Do not do anything on Probability distribution.

- Be intuitive about the statistical insight and information you can get from your data.

In [17]:
#Load libraries 
import numpy as np
import matplotlib as plt
import pandas as pd

In [18]:
# loading the dataset
df = pd.read_csv("possum.csv")

# displaying thw first 5 columns of the dataset
df.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [19]:
# checking the data types
df.dtypes

df.describe(include ="all")

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
count,104.000000,104.000000,104,104,102.000000,104.000000,104.000000,104.000000,104.000000,103.000000,104.000000,104.000000,104.000000,104.000000
unique,NaN,NaN,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,other,m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,58,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,52.500000,3.625000,NaN,NaN,3.833333,92.602885,56.883654,87.088462,37.009615,68.459223,48.130769,15.046154,27.000000,32.586538
std,30.166206,2.349086,NaN,NaN,1.909244,3.573349,3.113426,4.310549,1.959518,4.395306,4.109380,1.050374,2.045597,2.761949
min,1.000000,1.000000,NaN,NaN,1.000000,82.500000,50.000000,75.000000,32.000000,60.300000,40.300000,12.800000,22.000000,25.000000
25%,26.750000,1.000000,NaN,NaN,2.250000,90.675000,54.975000,84.000000,35.875000,64.600000,44.800000,14.400000,25.500000,31.000000
50%,52.500000,3.000000,NaN,NaN,3.000000,92.800000,56.350000,88.000000,37.000000,68.000000,46.800000,14.900000,27.000000,32.500000
75%,78.250000,6.000000,NaN,NaN,5.000000,94.725000,58.100000,90.000000,38.000000,72.500000,52.000000,15.725000,28.000000,34.125000
max,104.000000,7.000000,NaN,NaN,9.000000,103.100000,68.600000,96.500000,43.000000,77.900000,56.200000,17.800000,32.000000,40.000000

In [20]:
df.describe(include="all")

df.dropna()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

## Measures of Centre

### Mean

In [21]:
# filtering the data by sex
female = df[df["sex"] == "f"]
female

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
5,6,1,Vic,f,1.0,93.1,54.8,90.5,35.5,73.2,53.6,14.2,30.0,32.0
7,8,1,Vic,f,6.0,94.8,57.6,91.0,37.0,72.7,53.9,14.5,29.0,34.0
8,9,1,Vic,f,9.0,93.4,56.3,91.5,37.0,72.4,52.9,15.5,28.0,33.0
9,10,1,Vic,f,6.0,91.8,58.0,89.5,37.5,70.9,53.4,14.4,27.5,32.0
10,11,1,Vic,f,9.0,93.3,57.2,89.5,39.0,77.2,51.3,14.9,31.0,34.0
11,12,1,Vic,f,5.0,94.9,55.6,92.0,35.5,71.7,51.0,15.3,28.0,33.0
16,17,1,Vic,f,1.0,94.7,67.7,89.5,36.5,73.2,53.2,14.7,29.0,31.0
18,19,1,Vic,f,5.0,94.4,55.4,90.5,35.0,73.4,53.9,15.2,28.0,32.0
19,20,1,Vic,f,4.0,94.8,56.3,89.0,38.0,73.8,52.4,15.5,27.0,36.0
20,21,1,Vic,f,3.0,95.9,58.1,96.5,39.5,77.9,52.9,14.2,30.0,40.0
22,23,1,Vic,f,4.0,92.5,56.1,89.0,36.0,72.8,53.3,15.4,28.0,35.0
26,27,1,Vic,f,2.0,90.5,54.5,85.0,35.0,70.3,50.8,14.2,23.0,28.0
28,29,1,Vic,f,3.0,92.8,56.0,88.0,35.0,74.9,51.8,14.0,24.0,32.0
29,30,1,Vic,f,2.0,92.1,54.4,84.0,33.5,70.6,50.8,14.5,24.5,33.0
31,32,1,Vic,f,4.0,94.3,56.7,94.0,39.0,74.8,52.0,14.9,28.0,34.0
36,37,2,Vic,f,2.0,89.3,54.8,82.5,35.0,71.2,52.0,13.6,28.0,31.5
38,39,2,Vic,f,1.0,84.7,51.5,75.0,34.0,68.7,53.4,13.0,25.0,25.0
39,40,2,Vic,f,3.0,91.0,55.0,84.5,36.0,72.8,51.4,13.6,27.0,30.0
40,41,2,Vic,f,5.0,88.4,57.0,83.0,36.5,NaN,40.3,15.9,27.0,30.5
42,43,2,Vic,f,2.0,90.0,55.5,81.0,32.0,72.0,49.4,13.4,29.0,31.0
49,50,3,other,f,5.0,91.6,56.4,88.0,38.0,65.0,47.2,14.9,28.0,36.0
50,51,3,other,f,5.0,95.6,59.6,85.0,36.0,64.0,43.9,17.4,28.0,38.5
52,53,3,other,f,3.0,93.1,58.1,91.0,38.0,67.4,46.0,16.5,26.0,33.5
56,57,4,other,f,4.0,95.1,59.4,93.0,41.0,67.2,45.3,14.5,31.0,39.0
59,60,4,other,f,2.0,91.3,57.7,88.0,39.0,63.1,47.0,14.4,26.0,30.0
61,62,5,other,f,3.0,91.3,58.0,90.5,39.0,65.5,41.3,16.0,27.0,32.0
62,63,5,other,f,6.0,92.0,56.4,88.5,38.0,64.1,46.3,15.2,25.5,28.5
63,64,5,other,f,3.0,96.9,56.5,89.5,38.5,63.0,45.1,17.1,25.5,33.0
64,65,5,other,f,5.0,93.5,57.4,88.5,38.0,68.2,41.7,14.0,29.0,38.5
65,66,5,other,f,3.0,90.4,55.8,86.0,36.5,63.2,44.2,15.7,26.5,34.0
69,70,5,other,f,7.0,91.9,56.4,87.0,38.0,65.4,44.1,13.0,27.0,34.0
73,74,6,other,f,4.0,88.7,52.0,83.0,38.0,61.5,45.9,14.7,26.0,34.0
81,82,6,other,f,4.0,86.0,54.0,82.0,36.5,60.7,42.9,15.4,26.0,32.0
82,83,6,other,f,3.0,90.0,53.8,81.5,36.0,62.0,43.3,14.0,25.0,29.0
85,86,6,other,f,3.0,88.2,53.2,86.5,38.5,60.3,43.7,13.6,26.0,31.0
87,88,7,other,f,2.0,89.6,58.0,87.5,38.0,66.7,43.5,16.0,25.5,31.5
98,99,7,other,f,3.0,93.3,56.2,86.5,38.5,64.8,43.8,14.0,28.0,35.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [22]:
# calculating the mean of the ages of the female possum
female_possum  = female["age"]

In [23]:
print(np.mean(female_possum))

3.9767441860465116

In [24]:
# calculating the median of the ages of the female possum
print(np.median(female_possum))

4.0

In [25]:
# calculating the median of the ages of the female possum
print(female_possum.mode)

<bound method Series.mode of 1      6.0
2      6.0
3      6.0
4      2.0
5      1.0
7      6.0
8      9.0
9      6.0
10     9.0
11     5.0
16     1.0
18     5.0
19     4.0
20     3.0
22     4.0
26     2.0
28     3.0
29     2.0
31     4.0
36     2.0
38     1.0
39     3.0
40     5.0
42     2.0
49     5.0
50     5.0
52     3.0
56     4.0
59     2.0
61     3.0
62     6.0
63     3.0
64     5.0
65     3.0
69     7.0
73     4.0
81     4.0
82     3.0
85     3.0
87     2.0
98     3.0
101    6.0
103    3.0
Name: age, dtype: float64>

In [26]:
# filtering the data by sex
male = df[df["sex"] == "m"]
male

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
6,7,1,Vic,m,2.0,95.3,58.2,89.5,36.0,71.5,52.0,14.2,30.0,34.5
12,13,1,Vic,m,5.0,95.1,59.9,89.5,36.0,71.0,49.8,15.8,27.0,32.0
13,14,1,Vic,m,3.0,95.4,57.6,91.5,36.0,74.3,53.7,15.1,28.0,31.5
14,15,1,Vic,m,5.0,92.9,57.6,85.5,34.0,69.7,51.8,15.7,28.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,97,7,other,m,3.0,91.0,53.1,86.0,38.0,63.8,46.0,14.5,25.0,31.5
97,98,7,other,m,5.0,93.2,68.6,84.0,35.0,65.6,44.3,14.5,28.5,32.0
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0

In [27]:
# calculating the mean of the ages of the female possum
male_possum  = male["age"]

In [28]:
print(np.mean(male_possum))

3.7288135593220337

In [ ]:
print(np.median(male_possum))

nan

: